<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add expence</title>
    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <h2>Add Expence</h2>
    <div class="container">
      <div class="container">
        <form action="#" method="post" th:action="@{/expence/add}" th:object="${expence}">
          <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input type="text" id="productName" class="form-control" name="productName" required th:field="*{productName}"/>
          </div>
          <div class="mb-3">
            <label for="productDescription" class="form-label">Product Description</label>
            <textarea name="productDescription" id="productDescription" class="form-control" th:field="*{productDescription}"></textarea>
          </div>
          <div class="mb-3">
            <label for="productPrice" class="form-label">Product Price</label>
            <input type="number" name="productPrice" id="productPrice" class="form-control" required th:field="*{price}" />
          </div>
          <!--Hidden fields-->
          <div class="mb-3">
            <input type="text" hidden class="form-control" name="id" th:field="*{id}"/>
          </div>
          <div class="mb-3">
            <input type="date" hidden class="form-control" name="createdAt" th:field="*{createdAt}"/>
          </div>
          <div class="mb-3">
            <input type="date" hidden class="form-control" name="modifiedAt" th:field="*{modifiedAt}"/>
          </div>

          <button class="btn btn-primary" type="submit"> SAVE</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>