<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expences</title>
    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <h1>My Expences</h1>
    <div class="container">

            <div th:if = "${expences.size() == 0}">
                <h1>You have no Epences!!</h1>
                <a th:href="@{/expence/add}" class="btn btn-primary">ADD EXPENCE</a>
                <p th:text="${expences.size()}"></p>
            </div>

            <div th:if="${expences.size() != 0}">
                <div th:each="expence : ${expences}">
                    <a th:href="@{'/expence/'+${expence.id}+'/detail'}"><p th:text="${expence.productName}"></p></a>
                    <p th:text="${expence.productDescription}"></p>
                    <p th:text="${expence.price}"></p>
                </div>
                <a th:href="@{/expence/add}" class="btn btn-primary">ADD EXPENCE</a>
            </div>

    </div>
  </div>
</body>
</html>